
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>

    @Styles.Render("~/bundles/boostrap")
    @Styles.Render("~/bundles/dy")

    @Scripts.Render("~/bundles/angular2")
    @Scripts.Render("~/bundles/jquery")

    <script>
      System.config({
        transpiler: 'typescript',
        typescriptOptions: { emitDecoratorMetadata: true },
        packages: {'app': {defaultExtension: 'ts'}}
      });
      System.import('app/boot')
            .then(null, console.error.bind(console));
    </script>
</head>
<body>
    <log-in>Loading...</log-in>
</body>
</html>
